name: Build and Push Docker Images

on:
  push:
    branches:
      - feature/docker-compose-erwan 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:

      - name: Checkout
        uses: actions/checkout@v3


      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build Backend Image
        working-directory: ./backend
        run: docker build -t ghcr.io/${{ github.repository_owner }}/boutique-backend:latest .


      - name: Build Frontend Image
        working-directory: ./frontend
        run: docker build -t ghcr.io/${{ github.repository_owner }}/boutique-frontend:latest .


      - name: Push Backend Image
        run: docker push ghcr.io/${{ github.repository_owner }}/boutique-backend:latest


      - name: Push Frontend Image
        run: docker push ghcr.io/${{ github.repository_owner }}/boutique-frontend:latest

